<header class="header">
	<div class="container">
		<div class="header__wrap">
			<a class="logo">
				<svg class="logo__img">
					<use href="img/sprite.svg#logo"></use>
				</svg>
			</a>
			<button class="burger btn-reset">
				<span class="burger__line"></span>
			</button>
			<nav class="nav">
				<ul class="nav__menu list-reset menu">
					<li class="menu__item">
						<a
							class="menu__link link-reset"
							href="#"
							data-goto=".page__section-1"
							>Раздел №1</a
						>
					</li>
					<li class="menu__item">
						<a
							class="menu__link link-reset"
							href="#"
							data-goto=".page__section-2"
							>Раздел №2</a
						>
					</li>
					<li class="menu__item">
						<a
							class="menu__link link-reset"
							href="#"
							data-goto=".page__section-3"
							>Раздел №3</a
						>
					</li>
					<li class="menu__item">
						<a class="menu__link link-reset" href="">Страница №1</a>
						<span class="menu__arrow"></span>
						<ul class="menu__sub-list list-reset">
							<li class="menu__sub-item">
								<a class="menu__sub-link link-reset" href=""
									>Раздел страницы №1</a
								>
							</li>
							<li class="menu__sub-item">
								<a class="menu__sub-link link-reset" href=""
									>Раздел страницы №1</a
								>
							</li>
							<li class="menu__sub-item">
								<a class="menu__sub-link link-reset" href=""
									>Раздел страницы №1</a
								>
							</li>
						</ul>
					</li>
				</ul>
			</nav>
		</div>
	</div>
</header>
