<div class="modal" id="modal">
	<div class="modal__body">
		<div class="modal__content">
			<a class="modal__close close-modal" href="#header"></a>
			<div class="modal__title">Обратный звонок</div>
			<form class="form" action="utf-8">
				<label class="form__heading" for="login">*Имя</label>
				<input
					class="form__login input"
					id="login"
					type="text"
					placeholder="Николай"
					required
				/>
				<label class="form__heading" for="number">*Телефон</label>
				<input class="form__number input" id="number" type="tel" required />
				<p class="form__text">
					*Нажимия кнопку &laquo;Оставить заявку&raquo; я&nbsp;даю согласие
					на&nbsp;обработку данных
				</p>
				<input
					class="form__button button"
					type="submit"
					value="Отправить заявку"
				/>
			</form>
		</div>
	</div>
</div>
