body
  &.lock
    overflow: hidden

.header
  position: relative
  top: 0
  left: 0
  width: 100%
  z-index: 10
  padding: 25px 0

  &__container
    max-width: 1140px

  &__wrap
    display: flex
    justify-content: space-between
    align-items: center
    gap: 20px

  &__inner
    display: flex
    justify-content: space-between
    align-items: center
    max-width: 805px
    width: 100%
    @media screen and ( max-width: 940px )
      max-width: 165px

.logo
  position: relative
  max-width: 117px
  width: 100%
  height: 79px
  z-index: 5

  &__img
    width: 100%
    height: 100%

.burger
  display: none

.menu

  &__item
    position: relative
    font-size: 20px
    line-height: 22px
    &::after
      position: absolute
      content: ""
      width: 0
      border-top: 2px dashed $cod-gray
      top: 100%
      right: 0
      transition: all .4s
    &:hover
      &::after
        width: 100%
        left: 0
    &:nth-child(1)
      &::before
        position: absolute
        content: ""
        width: 27px
        border-top: 1px solid $akaroa
        top: -2px
        left: 0

/*-------------------------*/

body.touch

  .menu

    &__link
      flex: 1 1 auto
      transition: transform .4s ease 0s

/*-------------------------*/

.contact
  display: flex
  justify-content: space-between
  align-items: center
  max-width: 185px
  width: 100%
  &:hover .contact__number
    &::after
      width: 100%
      right: 0
  @media screen and ( max-width: 576px )
    max-width: 21px

  &__icon
    width: 20px
    height: 20px

  &__number
    font-size: 17px
    line-height: 22px
    color: $teak
    position: relative
    &::after
      position: absolute
      content: ""
      width: 0
      border-top: 2px solid $teak
      top: 102%
      left: 50%
      transition: width .4s
      transform: translateX(-50%)
    @media screen and ( max-width: 576px )
      display: none

@media screen and ( min-width: 940px )

  .header

    &__icons
      display: none

  .nav--mobile
    display: none

  .menu
    display: flex
    align-items: center

    &__item
      margin-right: 30px
      font-size: 20px
      &:last-child
        margin-right: 0

  .contact
    &--mobile
      display: none

@media screen and ( max-width: 940px )
  .header

    &__inner
      display: none

    &__icons
      display: flex
      justify-content: space-between
      align-items: center
      max-width: 180px
      width: 100%

    &__inner-icon
      margin-bottom: 0

    &__icon
      fill: #F6F6F5

  .logo
    margin-left: auto
    margin-right: auto
    @media screen and ( max-width: 576px )
      max-width: 80px
      max-height: 50px

  .contact
    &--pc
      display: none
    &--mobile
      position: absolute
      right: 15px
    &.active
      display: none

  .burger
    z-index: 5
    display: block
    width: 30px
    height: 18px
    position: absolute
    cursor: pointer
    &::before, &::after, &__line
      position: absolute
      left: 30px
      border-top: 2px solid $teak
      border-radius: 50%
      width: 100%
      transition: all .4s ease 0s
      background-color: $teak
    &::before, &::after
      content: ""
    &::before
      top: 0
    &::after
      bottom: 0
    &__line
      top: 50%
      transform: scale(1) translate(0, -50%)
    @media screen and ( max-width: 576px )
      width: 21px
      height: 10px

    &.active
      top: 25px
      right: 45px
      transform: translate(-50%, 50%)
      &::before, &::after, &__line
        border-top: 2px solid $desert-storm
      &::before
        top: 50%
        transform: rotate(-45deg) translate(0, -50%)
      &::after
        bottom: 50%
        transform: rotate(45deg) translate(0, 50%)
      .burger__line
        transform: scale(0) translate(0, -50%)

  .nav
    position: fixed
    top: -100%
    left: 0
    width: 100%
    background-color: $akaroa
    padding: 135px 30px 15px 30px
    transition: top .4s ease 0s
    overflow: auto
    &--pc
      display: none
    &--mobile
      display: inline-block
    &.active
      top: 0
      color: $desert-storm

  .menu
    display: flex
    flex-direction: column
    align-items: center
    &__item
      flex-wrap: wrap
      margin-bottom: 15px
      font-size: 16px
      line-height: 18px
      &:nth-last-child(2)
        margin-bottom: 50px
      &:hover
        &::after
          width: 0
