<div class="spollers" data-spollers="" data-one-spoller="">
	<div class="spollers__item">
		<button class="spollers__title btn-reset" type="button" tabindex="-1" data-spoller="">
			<span class="spollers__title-text">Обычный спойлер #1</span>
		</button>
		<div class="spollers__text">
			Lorem ipsum dolor sit amet consectetur, adipisicing elit. Voluptas hic numquam magni. Nulla,
			laborum illo enim qui eum architecto soluta, quos provident natus nobis a et aspernatur,
			labore fuga aliquam!
		</div>
	</div>
	<div class="spollers__item">
		<button class="spollers__title btn-reset" type="button" tabindex="-1" data-spoller="">
			<span class="spollers__title-text">Обычный спойлер #2</span>
		</button>
		<div class="spollers__text">
			Lorem ipsum dolor sit amet consectetur, adipisicing elit. Voluptas hic numquam magni. Nulla,
			laborum illo enim qui eum architecto soluta, quos provident natus nobis a et aspernatur,
			labore fuga aliquam!
		</div>
	</div>
	<div class="spollers__item">
		<button class="spollers__title btn-reset" type="button" tabindex="-1" data-spoller="">
			<span class="spollers__title-text">Обычный спойлер #3</span>
		</button>
		<div class="spollers__text">
			Lorem ipsum dolor sit amet consectetur, adipisicing elit. Voluptas hic numquam magni. Nulla,
			laborum illo enim qui eum architecto soluta, quos provident natus nobis a et aspernatur,
			labore fuga aliquam!
		</div>
	</div>
</div>
